body {
    padding: 0px;
    margin: 0px;
}

#length, #cities, #calc, #temp {
    color: rgb(230, 230, 230);
    font-size: 15px;
    font-family: Lucida Console;
}


/* Navigation Menu - Background */

.navigation {
    /* critical sizing and position styles */
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -200px;
    z-index: 3;
    /* non-critical appearance styles */
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Navigation Menu - List items */

.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    color: #c74438;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    /* non-critical apperance styles */
    padding: 4em;
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    display: block;
    height: 0;
    width: 0;
    z-index: 3;
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 3;
    /* non-critical apperance styles */
    cursor: pointer;
    background-size: contain;
    color: #fff;
}

.svg-menu-toggle {
    fill: #fff;
    pointer-events: all; //needs to be there so the hover works
    cursor: pointer;
    .bar {
        -webkit-transform: rotate(0) translateY(0) translateX(0);
        transform: rotate(0) translateY(0) translateX(0);
        opacity: 1;
        -webkit-transform-origin: 20px 10px;
        transform-origin: 20px 10px;
        -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
    }
    .bar:nth-of-type(1) {
        -webkit-transform-origin: 20px 10px;
        transform-origin: 20px 10px;
    }
    .bar:nth-of-type(3) {
        -webkit-transform-origin: 20px 20px;
        transform-origin: 20px 20px;
    }
}

.svg-menu-toggle:checked {
    .bar:nth-of-type(1) {
        -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
        transform: rotate(-45deg) translateY(0) translateX(0);
    }
    .bar:nth-of-type(2) {
        opacity: 0;
    }
    .bar:nth-of-type(3) {
        -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
        transform: rotate(45deg) translateY(0em) translateX(0em);
    }
}

.inline-svg {
    display: block;
    margin: 0 auto;
}


/* Make the Magic Happen */

.nav-trigger+label, .site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked+label {
    left: 215px;
}

.nav-trigger:checked~.site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}


/* Additional non-critical styles */

h1, h3, p {
    max-width: 600px;
    margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}


/* Micro reset */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.btn {
	background: #174869;
	background-image: -webkit-linear-gradient(top, #174869, #0b2433);
	background-image: -moz-linear-gradient(top, #174869, #0b2433);
	background-image: -ms-linear-gradient(top, #174869, #0b2433);
	background-image: -o-linear-gradient(top, #174869, #0b2433);
	background-image: linear-gradient(to bottom, #174869, #0b2433);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display:block;
	margin: 0 auto;
}

.btn:hover {
	background: #256f9c;
	background-image: -webkit-linear-gradient(top, #256f9c, #164463);
	background-image: -moz-linear-gradient(top, #256f9c, #164463);
	background-image: -ms-linear-gradient(top, #256f9c, #164463);
	background-image: -o-linear-gradient(top, #256f9c, #164463);
	background-image: linear-gradient(to bottom, #256f9c, #164463);
	text-decoration: none;
}

.btn-red {
	background: #694817;
	background-image: -webkit-linear-gradient(top, #694817, #33240b);
	background-image: -moz-linear-gradient(top, #694817, #33240b);
	background-image: -ms-linear-gradient(top, #694817, #33240b);
	background-image: -o-linear-gradient(top, #694817, #33240b);
	background-image: linear-gradient(to bottom, #694817, #33240b);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display:block;
	margin: 0 auto;
}

.btn-red:hover {
	background: #9c6f25;
	background-image: -webkit-linear-gradient(top, #9c6f25, #634416);
	background-image: -moz-linear-gradient(top, #9c6f25, #634416);
	background-image: -ms-linear-gradient(top, #9c6f25, #634416);
	background-image: -o-linear-gradient(top, #9c6f25, #634416);
	background-image: linear-gradient(to bottom, #9c6f25, #634416);
	text-decoration: none;
}